
body, #footer, #header, table, fieldset {
    color:black;
    background-color:white;
    font-family:"Times New Roman", serif;
}

#header {
    display:none;
}

#navigation {
    display:none;
}

#content h2 {
    display:none;
}

#content {
    position:absolute;
    border:none;
}

#footer p {
    display:none;
}

video {
    display:none;
}

a:after {
    content: " (" attr(href) ")";
}