/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color:#003552;
	alignment-adjust:middle;
}

/* Main body for everything */
#container {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    color:#004a74;
    background-color:#003552;
	}
	
/* Top body of the webpage (where the logo goes) */	
#header {
	margin-top:30px;
	margin-bottom:30px;
	background-color:#003552;
	background-image: url('../pics/logoTop.png');
	background-position: center;
	background-repeat: no-repeat;
	height:237px;
    }
    
/* Body of the menu */    
#navigation {
	border-style:solid;
    border-width:5px;
    border-color:#001E2E;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	background-color:#97C8C5;
	padding-top:20px;
	padding-bottom:20px;
	width:190px;
	margin-right:10px;
	margin-left:10px;
	}

/* Alignments of the menu fonts */	
#navigation ul {
    margin-top:5px;
    margin-bottom:5px;
    margin:30px;
    padding-right:20px;
    list-style:none; 
	}

/* Body of the content */    
#content {
	float:left;
	border-style:solid;
    border-width:5px;
    border-color:#001E2E;
	background-color: #97C8C5;
	width:780px;
	font-family:Georgia, serif;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:10px;
	margin-bottom:10px;
	}

/* Font sizes, colors and alignment of contents */	
#content h3, h4, video, ul, ol, table {
    margin:40px 93px 40px 93px;
    color:black;
    }
    
#content img {
    border-left:solid 0px;
    border-right:solid 15px;
    border-color: #97C8C5;
    float:left;
    margin-left:93px;
    }
    
#content h2 {
    margin:30px 60px 110px 60px;
    color:black;
    }
    
#content h2 {
    color:black;
	font-size: 2.0em;
    font-weight: bold;
	text-transform: uppercase;
    }
    
#content h3 {
   	color:black;
	font-size: 1.2em;
	font-weight: bold;
    }
	
#content p {
    margin:30px 93px 30px 93px;
    color:black;
    }
    
#content li {
    margin:40px;
    }
    
#postlink {
    margin:30px 93px 30px 93px;
}
	
/* Author of the webpage */	
#footer {
    margin-left:854px;
	margin-top:10px;
	margin-bottom:15px;
    background-color:#76c8c3;
    width:154px;
    font-family:"Times New Roman", serif;
    font-size:2;
    clear:both;
}

#footer p {
    text-indent:10px;
	color:black;

}

/* Blog post author */
.postfooter {
	margin-left:auto;
	margin-right:auto;
	font-style:italic;
	text-indent:10px;
	background-color:#C2C8C7;
    border: 1px solid #001E2E;
    border-bottom-style:solid;
    border-top-style:solid;
    border-left-style:none;
    border-right-style:none;
	width: 593px;
	line-height: 180%;
}

#navigation a {
    font-size:12px;
    line-height: 210%;
    text-decoration:none;
    font-family:Verdana, sans-serif;
    color:black;
    text-transform:uppercase;
    display:block;
    background-repeat: no-repeat;
    text-indent:25px;
}

#home {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 0px;
    background-repeat: no-repeat;
}

#home:hover {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 -48px;
    background-repeat: no-repeat;
}

#lab {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 -95px;
    background-repeat: no-repeat;
}

#lab:hover {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 -143px;
    background-repeat: no-repeat;
}

#pres {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 -191px;
    background-repeat: no-repeat;
}

#pres:hover {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 -239px;
    background-repeat: no-repeat;
}

#kontakt {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 -287px;
    background-repeat: no-repeat;
}

#kontakt:hover {
    width: 24px;
    height: 24px;
    background: url('pics/sprite.png') 0 -335px;
    background-repeat: no-repeat;
}

/* Mouse pointer hovering a menu link */
#navigation a:hover {
    background-color:#0EABA1;
    width:130px;
    
/* Link is yellow depending on which page is shown */   
}
#navigation .active {
    background-color:yellow;
    width:130px;
}

#content a:hover {
    font-size:100%;
    color:yellow;
    text-decoration:underline;
}
#content a:visited a:hover {
    font-size:100%;
    color:black;
    text-decoration:underline;
}

/* Page title */
.title {
	background-color:#97C8C5;
	margin-right:10px;
	margin-left:10px;
    width:160px;
    border-color:#001E2E;
    }

/* Positon of the page title */
#mathiasportal {
    margin-left:30px;
    font-size:0.8em;
    font-weight: bold;
    font-family:Verdana, sans-serif;
    color:black;
}

/* Table */
table, th, td {
   border: 2px solid #001E2E;
   background-color:#C2C8C7;
}


th {
    background-color:#0EABA1;
}

#submit {
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

/* Alignments of the images in #content */
.left {
	margin-left:26px;
	margin-right:93px;
}

.right {
    float:right;
}

/* Contact forms */
#content form {
    margin:40px 93px 40px 93px;
}


fieldset {
    margin-left:auto;
	margin-right:auto;
    border:2px solid #001E2E;
    background-color: #C2C8C7; 
}

#content input {
    margin-left:90px;
}

textarea {
    resize:none;
    width:400px;
    height:110px;
}

#content .radio {
	margin-left:auto;
	margin-right:auto;
}

legend {
    margin-left:90px;
    background-color:#0EABA1; 
    color:black;
}