/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
		background-color:#003552;
		alignment-adjust:middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 

#container {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    color:#004a74;
    background-color:#76c8c3;
	}
	
#header {
	margin-top:30px;
	margin-bottom:30px;
	background-color:#003552;
	background-image: url('../pics/logoTop.png');
	background-position: center;
	background-repeat: no-repeat;
	height:237px;
    }
    
#pageTitle h1 {
    margin-right:20px;
    }
    
#navigation {
	border-style:solid;
    border-width:5px;
    border-color:#001E2E;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	background-color:#97C8C5;
	padding-top:20px;
	padding-bottom:20px;
	width:190px;
	margin-right:10px;
	margin-left:10px;
	}
    
#content {
	border-style:solid;
    border-width:5px;
    border-color:#001E2E;
	margin-left: auto;
    margin-right: auto;
	background-color: #97C8C5;
	width:950px;
	font-family:Georgia, serif;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:10px;
	margin-bottom:10px;
	}
	
#navigation ul {
    margin-top:5px;
    margin:30px;
    padding-right:20px;
    list-style:none; 
	}
	
	#content p {
    margin:30px 90px 30px 90px;
    }
	
	#content h2 {
    font-size:200%;
    }
    
   	#content h3 {
    font-size:130%;
    }
    
    #content legend {
    font-size:200%;
    }
	
#content h1, h2, h3, h4, video, img, form, ul, ol, table {
    margin:30px 60px 30px 60px;
    }
    
#content li {
    margin:40px;
    }
	
#footer {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
    background-color:#76c8c3;
    width:190px;
    font-family:"Times New Roman", serif;
    font-size:2;
    clear:both;
}

#footer p {
	margin-left:20px;
}