/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color:#003552;
	alignment-adjust:middle;
}

#container {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    color:#004a74;
    background-color:#003552;
	}
	
#header {
	margin-top:30px;
	margin-bottom:30px;
	background-color:#003552;
	background-image: url('../pics/logoTop.png');
	background-position: center;
	background-repeat: no-repeat;
	height:237px;
    }
    
#pageTitle {
	color:black;
	font-size: 1.3em;
    margin-right:50px;
    }
    
#navigation {
	border-style:solid;
    border-width:5px;
    border-color:#001E2E;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	background-color:#97C8C5;
	padding-top:20px;
	padding-bottom:20px;
	width:190px;
	margin-right:10px;
	margin-left:10px;
	}
	
	#navigation ul {
    margin-top:5px;
    margin-bottom:5px;
    margin:30px;
    padding-right:20px;
    list-style:none; 
	}
    
#content {
	float:left;
	border-style:solid;
    border-width:5px;
    border-color:#001E2E;
	background-color: #97C8C5;
	width:783px;
	font-family:Georgia, serif;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:10px;
	margin-bottom:10px;
	}
	
	#content h3, h4, video, img, form, ul, ol, table {
    margin:90px 95px 40px 90px;
    color:black;
    }
    
    #content h2 {
    margin:30px 60px 30px 60px;
    color:black;
    }
    
    /* Not used */
    #content h641 {
	font-size: 1.8em;
	font-weight: bold;
    }
    
    #content h2 {
    color:black;
	font-size: 2.0em;
    font-weight: bold;
	text-transform: uppercase;
    }
    
   	#content h3 {
   	color:black;
	font-size: 1.2em;
	font-weight: bold;
    }
	
	#content p {
    margin:30px 95px 30px 90px;
    color:black;
    }
    
#content li {
    margin:40px;
    }
	
#footer {
    margin-left:854px;
	margin-top:10px;
	margin-bottom:15px;
    background-color:#76c8c3;
    width:154px;
    font-family:"Times New Roman", serif;
    font-size:2;
    clear:both;
}

#footer p {
    text-indent:10px;
	color:black;

}

.postfooter {
	margin-left:auto;
	margin-right:auto;
	font-style:italic;
	text-indent:10px;
    border: 1px solid #001E2E;
    border-bottom-style:solid;
    border-top-style:solid;
    border-left-style:none;
    border-right-style:none;
	width: 592px;
	line-height: 150%;
}

#navigation a {
    font-size:0.9em;
    line-height: 140%;
    text-decoration:none;
    font-family:Verdana, sans-serif;
    color:black;
    text-transform:uppercase;
    display:block;
}
#navigation a:hover {
    background-color:#0EABA1;
    width:130px;
    
}
#navigation a.active {
    background-color:yellow;
    width:130px;
    
}

#content a:hover {
    font-size:100%;
    color:yellow;
    text-decoration:underline;
}
#content a:visited a:hover {
    font-size:100%;
    color:black;
    text-decoration:underline;
}

.title {
	background-color:#97C8C5;
	margin-right:10px;
	margin-left:10px;
    padding-right:auto;
    width:160px;
    border-color:#001E2E;
    }

#mathiasportal {
    margin-left:30px;
    font-size:0.8em;
    font-weight: bold;
    font-family:Verdana, sans-serif;
    color:black;
}

table, th, td {
   border: 2px solid #001E2E;
   background-color: white;
}


th {
    background-color:#0EABA1;
}

#content form, p {
    margin:60px 60px 60px 60px;
	margin-left:auto;
	margin-right:auto;
}

#content input {
    margin-left:90px;
}

#submit {
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}