body
{
    background-color:#4B7A93;
}

a {
    z-index:0;
    display:inline-block;
    margin-top:50px;
    margin-left:30px;
    margin-right:-40px;
    margin-bottom:10px;
    padding:10px 10px 20px 10px;
    box-shadow:10px 10px 25px black;
    text-align:center;
    text-decoration:none;
    background-color:white;
    color:black; 
    width:20%;
    position:relative;
    -webkit-transform: rotate(5deg); 
    transform: rotate(5deg);
    -webkit-transition: width 0.5s, transform 0.2s, box-shadow 0.5s;
    transition: width 0.5s, transform 0.2s, box-shadow 0.5s;
}

a {
    font-family: 'Abel', sans-serif;
    font-size:22px;
    line-height:50px;
    margin-bottom:5px;
}

img {
    height:100%;
    width:100%;

}

#images {
    width:70%;
}

a:nth-child(odd) {
    -webkit-transform: rotate(-8deg); 
    transform: rotate(-5deg);
}

a:nth-child(even) {
    -webkit-transform: rotate(11deg); 
    transform: rotate(7deg);
}

a:after {
   display:block;
   content:attr(title);
}

#sidebar {
   float:right;
   border-left:1px dashed #013755;
   text-align:center;
   width:25%;
   height:800px;
}

#sidebar p, h3 {
   color:#013755;
   margin-top:40px;

}

#sidebar, #images {
    display:inline-block;
}

a:hover, a:focus {
    z-index:1;
    -webkit-transform: rotate(0deg) scale(1.3);
    transform: rotate(0deg) scale(1.3);
    background:#C9D2D7;
    box-shadow:35px 35px 100px black;
    -webkit-transition: transform 3s, box-shadow 3s;
    transition: transform 0.7s, box-shadow 3s;
}