body
{
    background-color:#003552;
}

a {
    z-index:0;
    display:inline-block;
    margin-top:50px;
    margin-left:30px;
    margin-right:-40px;
    margin-bottom:20px;
    padding:10px 10px 50px 10px;
    box-shadow:10px 10px 25px black;
    text-align:center;
    background-color:white;
    color:black; 
    width:250px;
    position:relative;
    -webkit-transform: rotate(5deg); 
    transform: rotate(5deg);
    -webkit-transition: width 0.5s, transform 0.5s, box-shadow 0.5s;
    transition: width 0.5s, transform 0.5s, box-shadow 0.5s;
}

img {
    float:left;
    width:100%;

}

a:nth-child(odd) {
    -webkit-transform: rotate(-8deg); 
    transform: rotate(-5deg);
}
a:nth-child(even) {
    -webkit-transform: rotate(11deg); 
    transform: rotate(7deg);
}

a:after {
   display:block;
   margin-top:10px;
   content:attr(title);
}

a:hover, a:focus {
    z-index:1;
    width: 20%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background:green;
    box-shadow:35px 35px 100px black;
    -webkit-transition: width 3s, height 3s, -webkit-transform 3s;
    transition: width 3s, height 3s, transform 3s, box-shadow 3s;
}